html
  head
    title tocho-san at your service!
    link(href:'/css/candy.less', type:'text/less', rel:'stylesheet')
  body
    div(id:'container')
      div(id:'logo')
        img(src:'/images/tocho.gif')